/*font */
@import url(http://fonts.googleapis.com/css?family=Croissant+One);

.croisant{
    font-family: 'Croissant One', cursive;
}

.white{
    color:white;
}

.blue{
    color:#15ACD1;
}

/* Fondos */

.lo{
    background-image: url("http://cdn29.us1.fansshare.com/pictures/concert/concert-music-1591429668.jpg");
    background-attachment:fixed;
    font-size: medium;
}
/*barra principal */
.navbar-brand{
    padding: 29.5px 15px 40px 15px;
}
.navbar-default{
    background: black;
    padding: 0px 0px 0px 1px;
}
/* estilos del website: */

#hi{
    height: auto;
    padding: 10px;
}

img{
    box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    -webit-box-shadow: 0px 0px 10px #000;
}


.hide{
    display:none;
}

header {
    min-height:100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.blur{
    min-height: inherit;
    background-color: rgba(0,0,0,.5);
}
.background2{
 min-height: inherit;
}

.section{
    height: auto;
    padding-top: 999px;
}

footer
{
    text-align: center;
    min-height: 100px;
    background: radial-gradient( circle , #2b8833, #101e1e);
    border-top: 3px solid #404040;
    padding-top: 5%;
}

footer p
{
    text-align: justify;
}

span.redes a
{
    color: orange;
}

.avatar
{
    border: 2px solid orange;
    border-radius: 80%;
    float: center;
    height: 100px;
    width: 100px;
}


#title{
    font-size: 3em;
    color: floralwhite;
    text-align: center;
    padding-top: 10%;
}

#subtitle{
    font-size: 1em;
    color: white;
    text-align: center;
    margin-top: 2%;
}

#artitle{
    color: white;
    font-size: 4em;
    padding-top: 15vh;
    text-align: center;
}


.btn{
    border-radius: 0px;
}

.btn-web{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-top: 1%;
    -webkit-transition: background-color .5s, border .5s;
    -moz-transition: background-color .5, border .5s;
    -o-transition:  background-color .5s, border .5s;
}

.btn-web:hover{
    background-color: white;
    border: 5px solid white;
    color: tomato;
    -webkit-transition: background-color .5s, border .5s;
    -moz-transition: background-color .5, border .5s;
    -o-transition:  background-color .5s, border .5s;
    cursor: pointer;
}

/* estilo tab Admin */


/* Media Querys para hacer Responsivo el texto Titulo y subTi.. */

@media(max-width: 755px) {

    #title {
        font-size: 3em;
        color: floralwhite;
        text-align: center;
        padding-top: 10%;
    }

    #subtitle {
        font-size: 1em;
        color: white;
        text-align: center;
        margin-top: 2%;
    }

    header {
        background-image: url(http://rielesbanda.hol.es/img/rieles4Ma.jpg);
        min-height: 85vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }

    footer{
        min-height: 150px;
        background: #009E66;
    }

}

/* Estilo Pinterest */
#posts {
    position: relative;
    max-width: 100%;
    width: 100%;
}
.photo {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.white-panel {
    position: absolute;
    background: #e06c00;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
}
.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #A92733;
}
.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Estilo del tag*/

#tag{
    background-image: url('https://scontent-grt2-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11822526_875501389201241_2226980070287557737_n.jpg?oh=c6f19535699aed3528b1a93241738b1d&oe=57971617');
    min-height: 35vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: 5px solid tomato;
}

#tagged	{
    color: white;
    font-size: 1.5em;
    padding-top: 10vh;
    text-align: center;
}

.tgs{
    padding:0px;
}

#taggex{
    color: white;
    font-size: 2.5em;
    padding-top: 14vh;
    text-align: center;
}

#taggex:hover{
    color: steelblue;
    font-size: 2.5em;
    padding-top: 14vh;
    text-align: center;
    text-decoration: none;
}

.tl:hover{
    cursor: pointer;
}

#bhome{
    min-height: 40vh;
    background-image: url('https://download.unsplash.com/photo-1428223501723-d821c5d00ca3');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Formulario Emails*/
.contact-form{
    margin-top:3em;
}
.main-contact form input[type="text"],.main-contact form textarea{
    width: 100%;
    padding: 10px 14px;
    border: 3px solid #000;
    font-size: 1.2em;
    margin-bottom:1.5em;
    color: #000;
    outline: none;
    font-weight:400;
}
.main-contact form textarea {
    resize:none;
    height:201px;
    border-radius: 0;
}
.main-contact form input[type="submit"] {
    font-size: 1.35em;
    font-weight:400;
    color: #fff;
    outline: none;
    border: 3px solid #000;
    padding: 0.5em 3em;
    background:#000;
    margin-top: 0em;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.main-contact form input[type="submit"]:hover{
    background:#fff;
    color:#000;
}
.contact_info {
    margin-top:2em;
}
.contact_info h3 {
    color: #000;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom:0.7em;
}

/* face responsivo*/
@media only screen and (max-width: 767px) {
    .fb-comments {
        width: 100% !important;
    }
    .fb-comments iframe[style] {
        width: 100% !important;
    }
    .fb-like-box {
        width: 100% !important;
    }
    .fb-like-box iframe[style] {
        width: 100% !important;
    }
    .fb-comments span {
        width: 100% !important;
    }
    .fb-comments iframe span[style] {
        width: 100% !important;
    }
    .fb-like-box span {
        width: 100% !important;
    }
    .fb-like-box iframe span[style] {
        width: 100% !important;
    }
}

.sound{
    padding: 0px 0px 0px 0px;
    position: inherit;
    top: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}




